<?xml version="1.0"?>
<phpunit
  colors="true"
  failOnRisky="true"
  failOnWarning="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  executionOrder="depends,defects"
>
  <testsuites>
    <testsuite name="main">
      <directory suffix=".php">..</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../../api</directory>
    </include>
  </source>
  <coverage>
    <report>
      <clover outputFile="../../coverage.xml" />
    </report>
  </coverage>
</phpunit>
