<?xml version="1.0"?>
<phpunit
  colors="true"
  failOnRisky="true"
  failOnWarning="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  executionOrder="depends,defects"
>
  <testsuites>
    <testsuite name="main">
      <file>../AnimationTest.php</file>
      <file>../ApiSecurityTest.php</file>
      <file>../DemoSecurityTest.php</file>
      <file>../OptionsTest.php</file>
      <file>../PngRendererTest.php</file>
      <file>../RenderTest.php</file>
      <file>../StatsTest.php</file>
      <file>../TranslationsTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../../api</directory>
    </include>
  </source>
</phpunit>
